

.header {
  position: fixed;
  top: -20px;
  left: 0px;
  width: 100%;
  z-index: 1000;
  padding: 0 0;
  transition: all 0.3s ease;
  background: transparent;
}

.header.scrolled {
  background: rgba(161, 221, 186, 0.153);
  backdrop-filter: blur(0px);
  box-shadow: var(--shadow-sm);
  padding: -10px 0;
  color: rgb(0, 0, 0) !important;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Styles for the new image logo */
.logo-image {
 /* Adjust height as needed */
  width: 150px;
  display: block;
}

.desktop-nav {
  display: flex;
  gap: 40px;
  color: rgb(218, 237, 204) !important;
}

.desktop-nav a {
  font-weight: 500;
  color: var(--text-main);
  transition: color 0.3s;
  color: rgb(197, 202, 195) !important;
}

.desktop-nav a:hover, .desktop-nav a.active {
  color: var(--primary);
}

.nav-cta {
  display: flex;
}

.mobile-toggle { display: none; font-size: 28px; cursor: pointer; }

/* Mobile CSS */
@media (max-width: 768px) {
  .desktop-nav, .nav-cta { display: none; }
  .mobile-toggle { display: block; }
  
  .mobile-menu {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    gap: 30px;
  }
  
  .mobile-menu a {
    font-size: 20px;
    font-weight: 600;
  }
}